.home-content {
  .title {
    font-size: 1.8rem;
    margin-bottom: 12px;
    color: #495057;
    font-weight: 500;
  }

  .shift-container {
    overflow-x: auto;
    background: #fff;
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
  }
}